@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karla-v31-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

#header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  z-index: 9999;
}

.header {
  padding: 25px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo--link {
  width: 100%;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar__list--link {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(29, 31, 46);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.navbar__list--link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 26px;
  background-color: rgba(162, 95, 75, 0.3);
  left: 0;
  top: 26px;
  transition: all 0.3s ease;
}
.navbar__list--link:hover {
  color: rgb(162, 95, 75);
}
.navbar__list--link:hover::after {
  top: -4px;
}

.cart {
  max-width: 92px;
  width: 100%;
  padding-bottom: 4px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.cart__icon {
  color: black;
  width: 16px;
  height: 20px;
  transition: all 0.3s ease;
}
.cart__span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(29, 31, 46);
  transition: all 0.3s ease;
}
.cart__count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 18px;
  background-color: rgb(29, 31, 46);
  border-radius: 9px;
  color: white;
  transition: all 0.3s ease;
}
.cart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 26px;
  background: rgba(162, 95, 75, 0.3);
  bottom: -24px;
  transition: all 0.3s ease;
}
.cart:hover .cart__span {
  color: rgb(162, 95, 75);
}
.cart:hover .cart__count {
  background-color: rgb(162, 95, 75);
}
.cart:hover .cart__icon {
  color: rgb(162, 95, 75);
}
.cart:hover::after {
  bottom: 0px;
}

#hero {
  width: 100%;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero {
  padding: 159px 73.5px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.hero__span {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hero__title {
  margin-top: 10px;
  font-size: 47px;
  line-height: 60px;
}
.hero__text {
  margin-top: 10px;
  font-size: 17px;
  line-height: 30px;
}
.hero__explore {
  margin-top: 48px;
  margin-bottom: 18px;
  padding: 0 24px;
  display: inline-block;
  background-color: white;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(29, 31, 46);
  transition: all 0.3s ease;
}
.hero__explore:hover {
  background-color: rgb(162, 95, 75);
  color: white;
}

#texts {
  margin-top: 100px;
}

.texts {
  max-width: 658px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.texts__title {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(29, 31, 46);
}
.texts__text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}
.texts__read {
  margin-top: 21px;
  display: inline-block;
  max-width: 133px;
  width: 100%;
  height: 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(162, 95, 75);
  position: relative;
  overflow: hidden;
}
.texts__read::after {
  content: "";
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgba(162, 95, 75, 0.3);
  bottom: -28px;
  left: 0;
  transition: all 0.3s ease;
}
.texts__read:hover::after {
  bottom: 0;
}

#featured {
  margin-top: 100px;
}

.featured,
.products,
.offer,
.story,
.subscribe {
  width: 100%;
  text-align: center;
}
.featured__span,
.products__span,
.offer__span,
.story__span,
.subscribe__span {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(29, 31, 46);
  text-transform: uppercase;
  position: relative;
}
.featured__span::after, .featured__span::before,
.products__span::after,
.products__span::before,
.offer__span::after,
.offer__span::before,
.story__span::after,
.story__span::before,
.subscribe__span::after,
.subscribe__span::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: rgb(236, 236, 237);
  top: 50%;
}
.featured__span::before,
.products__span::before,
.offer__span::before,
.story__span::before,
.subscribe__span::before {
  left: -45px;
}
.featured__span::after,
.products__span::after,
.offer__span::after,
.story__span::after,
.subscribe__span::after {
  right: -45px;
}

.mugs,
.cups {
  margin-top: 100px;
  display: flex;
  gap: 20px;
}
.mugs__cup,
.cups__cup {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mugs__cup--img,
.cups__cup--img {
  width: 100%;
}
.mugs__cup--name,
.cups__cup--name {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(29, 31, 46);
}
.mugs__cup--price,
.cups__cup--price {
  color: rgba(29, 31, 46, 0.7);
  font-size: 16px;
  line-height: 28px;
}

.newprice__price {
  color: rgb(162, 95, 75);
  margin-right: 10px;
}
.newprice__oldprice {
  text-decoration: line-through;
  color: rgba(29, 31, 46, 0.4);
}

#products {
  margin-top: 100px;
}

.cups {
  gap: 17px;
  flex-wrap: wrap;
}

#offer {
  margin-top: 100px;
  margin-bottom: 130px;
}

.offers {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.offers__images {
  max-width: 460px;
  width: 100%;
  display: grid;
  gap: 20px;
}
.offers__images .img1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.offers__images .img2 {
  grid-column: 3;
  grid-row: 1/span 1;
}
.offers__images .img3 {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
}

.info {
  padding-left: 60px;
  width: 44%;
  min-height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.info__span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(29, 31, 46);
  text-transform: uppercase;
}
.info__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}
.info__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.info__shopping {
  max-width: 173px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  padding: 9px 24px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(29, 31, 46);
  border: 1px solid rgb(29, 31, 46);
  transition: all 0.3s ease;
}
.info__shopping:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(29, 31, 46);
}

#coffee {
  width: 100%;
  height: 340px;
  background-image: url("../../images/coffee-bg.jpg");
  background-position: no-repeat;
  background-size: cover;
}

#story {
  margin-top: 100px;
}

.story {
  width: 100%;
  text-align: center;
}

.stories {
  padding-bottom: 48px;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 102px;
}
.stories__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.stories__info--title {
  margin-top: 29px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(29, 31, 46);
}
.stories__info--text {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}
.stories__info--span {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(29, 31, 46);
}

#subscribe {
  margin-top: 152px;
  background-color: rgb(29, 31, 46);
}

.subscribe {
  padding: 82.5px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}
.subscribe__span {
  color: rgb(255, 255, 255);
}
.subscribe__title {
  margin-top: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.form {
  margin-top: 25px;
  max-width: 489px;
  display: flex;
  gap: 10px;
}
.form__input {
  padding: 18px 0;
  width: 350px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  outline: none;
  background-color: rgb(29, 31, 46);
  border: 1px solid rgb(47, 48, 62);
}
.form__input::-moz-placeholder {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.form__input::placeholder {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.form__button {
  padding: 18px 25px;
  box-shadow: 0px 2px 6px 0px rgba(29, 31, 46, 0.1);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
  cursor: pointer;
}
.form__button:hover {
  border: 1px solid rgb(47, 48, 62);
  background-color: rgb(29, 31, 46);
  color: rgb(255, 255, 255);
}

#footer {
  margin-top: 100px;
}

.footer {
  padding-bottom: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__info {
  max-width: 258px;
}
.footer__info--text {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}
.footer__info--span {
  margin-top: 81px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(29, 31, 46, 0.3);
}
.footer .fmenu, .footer .ffollow {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer .fmenu__span, .footer .ffollow__span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(29, 31, 46);
  text-transform: uppercase;
}
.footer .fmenu__list, .footer .ffollow__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .fmenu__list--link, .footer .ffollow__list--link {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}
.footer .fmenu__list--link:hover, .footer .ffollow__list--link:hover {
  color: rgb(29, 31, 46);
}
.footer .fcontact {
  display: flex;
  flex-direction: column;
}
.footer .fcontact__contact {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgb(29, 31, 46);
  text-transform: uppercase;
}
.footer .fcontact__text {
  margin-top: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
}
.footer .fcontact__link {
  margin-top: 16px;
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(29, 31, 46);
}
.footer .fcontact__span {
  margin-top: 55px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(29, 31, 46, 0.3);
}/*# sourceMappingURL=main.css.map */