@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/karla-v31-latin-regular.woff2') format('woff2'); 
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: "Karla", sans-serif;
}

.container{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
#header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

.header{
    padding: 25px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        &--link{
            width: 100%;
        }
    }
}
.navbar{
    &__list{
        display: flex;
        align-items: center;
        gap: 30px;
        &--link{
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: rgba(29, 31, 46, 1);
            transition: all .3s ease;
            position: relative;
            overflow: hidden;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 26px;
                background-color: rgba(162, 95, 75, 0.3);
                left: 0;
                top: 26px;
                transition: all .3s ease;
            }
            &:hover{
                color: rgba(162, 95, 75, 1);
            }
            &:hover::after{

                top: -4px;
            }
        }
    }

}
.cart{
    max-width: 92px;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    z-index: 3;
    &__icon{
        color: black;
        width: 16px;
        height: 20px;
        transition: all .3s ease;
    }
    &__span{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 2px;
        color: rgba(29, 31, 46, 1);  
        transition: all .3s ease;
    }
    &__count{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 18px;
        background-color: rgba(29, 31, 46, 1);
        border-radius: 9px;
        color: white;
        transition: all .3s ease;
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 26px;
        background: rgba(162, 95, 75, 0.3);
        bottom: -24px;
        transition: all .3s ease;
    }
    &:hover &__span{
        color: rgba(162, 95, 75, 1);
    }
    &:hover &__count{
        background-color: rgba(162, 95, 75, 1);
    }
    &:hover &__icon{
        color: rgba(162, 95, 75, 1);
    }
    &:hover::after{
        bottom: 0px;
    }
}

// Hero

#hero{
    width: 100%;    
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}

.hero{
    padding: 159px 73.5px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    &__span{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;        
    }
    &__title{
        margin-top: 10px;
        font-size: 47px;
        line-height: 60px;
    }
    &__text{
        margin-top: 10px;
        font-size: 17px;
        line-height: 30px;
    }
    &__explore{
        margin-top: 48px;
        margin-bottom: 18px;
        padding: 0 24px;
        display: inline-block;
        background-color: white;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgba(29, 31, 46, 1);
        transition: all .3s ease;
        &:hover{
            background-color: rgba(162, 95, 75, 1);
            color: white;
        }
    }
}

// Texts

#texts{
    margin-top: 100px;
}
.texts{
    max-width: 658px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &__title{
        font-size: 28px;
        font-weight: 400;
        line-height: 40px;
        color: rgba(29, 31, 46, 1);        
    }
    &__text{
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        color: rgba(29, 31, 46, .7);        
    }
    &__read{
        margin-top: 21px;
        display: inline-block;
        max-width: 133px;
        width: 100%;
        height: 30px;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        color: rgba(162, 95, 75, 1);   
        position: relative;  
        overflow: hidden;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: inherit;
            background-color: rgba(162, 95, 75, 0.3);
            bottom: -28px;
            left: 0;
            transition: all .3s ease;
        }   
        &:hover::after{
            bottom: 0;
        }
    }
}